// you can change colors here
$theme-color: #54a0ff;
$font-family: "'Noto Sans', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, sans-serif";
$font-family-heading: "'Noto Sans', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, sans-serif";
